Repository SSAFY-10th-SpringSad/SpringSad, pull requests merged in 2023-10, with the labels that each got.

#5 폴더 구조 생성
  frontend/readme.md
  frontend/src/@types/.gitkeep
  frontend/src/apis/.gitkeep
  frontend/src/assets/.gitkeep
  frontend/src/components/.gitkeep
  frontend/src/constants/.gitkeep
  frontend/src/hooks/.gitkeep
  frontend/src/layout/.gitkeep
  frontend/src/pages/.gitkeep
  frontend/src/store/.gitkeep
  frontend/src/styles/.gitkeep
  frontend/src/utils/.gitkeep
Labels: 📝 docs, 🖼︎ front-end

#11 header 추가
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/image.d.ts
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/logo/bandLogo.png
  frontend/src/components/header/index.styled.ts
  frontend/src/components/header/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/BandDetailPage/BandDetailPage.tsx
  frontend/src/pages/CreateBandPage/CreateBandPage.tsx
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/SignUpPage/SignUpPage.tsx
  frontend/src/route/Router.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/colorVar.ts
Labels: ✨ feature, 🖼︎ front-end

#12 Feature/#9
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/footer/Footer.styled.ts
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/header/Header.styled.ts
  frontend/src/components/header/Header.tsx
  frontend/src/index.tsx
  frontend/src/pages/BandDetailPage/BandDetailPage.tsx
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/route/Router.tsx
  frontend/src/routes/Router.tsx
  frontend/src/styles/Theme.ts
  frontend/src/styles/colorVar.ts
Labels: ✨ feature, 🖼︎ front-end

#16 ERD 기반 도메인 구현
  backend/src/main/java/com/spring/sad/album/domain/Album.java
  backend/src/main/java/com/spring/sad/album/domain/AlbumImage.java
  backend/src/main/java/com/spring/sad/album/domain/AlbumImageRepository.java
  backend/src/main/java/com/spring/sad/album/domain/AlbumRepository.java
  backend/src/main/java/com/spring/sad/band/domain/Band.java
  backend/src/main/java/com/spring/sad/band/domain/BandRepository.java
  backend/src/main/java/com/spring/sad/band/domain/Category.java
  backend/src/main/java/com/spring/sad/band/domain/CategoryRepository.java
  backend/src/main/java/com/spring/sad/band/domain/Visibility.java
  backend/src/main/java/com/spring/sad/global/domain/BaseEntity.java
  backend/src/main/java/com/spring/sad/image/domain/Image.java
  backend/src/main/java/com/spring/sad/image/domain/ImageRepository.java
  backend/src/main/java/com/spring/sad/member/domain/Gender.java
  backend/src/main/java/com/spring/sad/member/domain/Member.java
  backend/src/main/java/com/spring/sad/member/domain/MemberBand.java
  backend/src/main/java/com/spring/sad/member/domain/MemberBandRepository.java
  backend/src/main/java/com/spring/sad/member/domain/MemberRepository.java
  backend/src/main/java/com/spring/sad/member/domain/Profile.java
  backend/src/main/java/com/spring/sad/member/domain/ProfileRepository.java
  backend/src/main/java/com/spring/sad/notification/domain/Notification.java
  backend/src/main/java/com/spring/sad/notification/domain/NotificationRepository.java
  backend/src/main/java/com/spring/sad/post/domain/Comment.java
  backend/src/main/java/com/spring/sad/post/domain/CommentRepository.java
  backend/src/main/java/com/spring/sad/post/domain/Post.java
  backend/src/main/java/com/spring/sad/post/domain/PostImage.java
  backend/src/main/java/com/spring/sad/post/domain/PostImageRepository.java
  backend/src/main/java/com/spring/sad/post/domain/PostRepository.java
  backend/src/main/java/com/spring/sad/post/domain/PostTag.java
  backend/src/main/java/com/spring/sad/post/domain/PostTagRepository.java
  backend/src/main/java/com/spring/sad/post/domain/Tag.java
  backend/src/main/java/com/spring/sad/post/domain/TagRepository.java
Labels: ✨ feature, 🌱 back-end

#20 회워가입 기능 전 기능 수정
  backend/.gitignore
  backend/src/main/java/com/spring/sad/album/domain/Album.java
  backend/src/main/java/com/spring/sad/album/domain/AlbumImage.java
  backend/src/main/java/com/spring/sad/album/repository/AlbumImageRepository.java
  backend/src/main/java/com/spring/sad/album/repository/AlbumRepository.java
  backend/src/main/java/com/spring/sad/band/domain/Band.java
  backend/src/main/java/com/spring/sad/band/domain/Category.java
  backend/src/main/java/com/spring/sad/band/repository/BandRepository.java
  backend/src/main/java/com/spring/sad/band/repository/CategoryRepository.java
  backend/src/main/java/com/spring/sad/global/domain/BaseEntity.java
  backend/src/main/java/com/spring/sad/image/domain/Image.java
  backend/src/main/java/com/spring/sad/image/repository/ImageRepository.java
  backend/src/main/java/com/spring/sad/member/domain/Member.java
  backend/src/main/java/com/spring/sad/member/domain/MemberBand.java
  backend/src/main/java/com/spring/sad/member/domain/Profile.java
  backend/src/main/java/com/spring/sad/member/repository/MemberBandRepository.java
  backend/src/main/java/com/spring/sad/member/repository/MemberRepository.java
  backend/src/main/java/com/spring/sad/member/repository/ProfileRepository.java
  backend/src/main/java/com/spring/sad/notification/domain/Notification.java
  backend/src/main/java/com/spring/sad/notification/repository/NotificationRepository.java
  backend/src/main/java/com/spring/sad/post/domain/Comment.java
  backend/src/main/java/com/spring/sad/post/domain/Post.java
  backend/src/main/java/com/spring/sad/post/domain/PostImage.java
  backend/src/main/java/com/spring/sad/post/domain/PostTag.java
  backend/src/main/java/com/spring/sad/post/domain/Tag.java
  backend/src/main/java/com/spring/sad/post/repository/CommentRepository.java
  backend/src/main/java/com/spring/sad/post/repository/PostImageRepository.java
  backend/src/main/java/com/spring/sad/post/repository/PostRepository.java
  backend/src/main/java/com/spring/sad/post/repository/PostTagRepository.java
  backend/src/main/java/com/spring/sad/post/repository/TagRepository.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: 🌱 back-end, 🔧 config

#23 feat: loginPage 퍼블리싱
  frontend/src/constants/path.ts
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
Labels: ✨ feature, 🖼︎ front-end

#24 feat : 회원가입 Page 퍼블리싱
  frontend/public/index.css
  frontend/src/App.tsx
  frontend/src/components/header/Header.styled.ts
  frontend/src/pages/SignUpPage/SignUpPage.styled.ts
  frontend/src/pages/SignUpPage/SignUpPage.tsx
  frontend/src/styles/ResetStyle.ts
Labels: ✨ feature, 🖼︎ front-end

#34 MockAPI 생성
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/@types/user.ts
  frontend/src/App.tsx
  frontend/src/apis/axios.ts
  frontend/src/apis/request/requestAuth.ts
  frontend/src/apis/request/requestUser.ts
  frontend/src/constants/path.ts
  frontend/src/hooks/useInput.ts
  frontend/src/hooks/useLogin.ts
  frontend/src/hooks/useSignup.ts
  frontend/src/mock/handlers.ts
  frontend/src/mock/serviceWorker.ts
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/SignUpPage/EmailSignUpPage/EmailSignUpPage.tsx
  frontend/src/pages/SignUpPage/PhoneSignUpPage/PhoneSignUpPage.styled.ts
  frontend/src/pages/SignUpPage/SignUpPage.styled.ts
  frontend/src/pages/SignUpPage/SignUpPage.tsx
  frontend/src/routes/Router.tsx
Labels: ✨ feature, 🖼︎ front-end

#37 react-router-dom refactoring
  frontend/src/App.tsx
  frontend/src/pages/SignUpPage/SignUpPage.styled.ts
  frontend/src/routes/Router.tsx
Labels: ♻️ refactor, 🖼︎ front-end

#30 회원 가입 구현
  backend/src/main/java/com/spring/sad/SadApplication.java
  backend/src/main/java/com/spring/sad/global/exception/ControllerAdvice.java
  backend/src/main/java/com/spring/sad/global/exception/ErrorCode.java
  backend/src/main/java/com/spring/sad/global/exception/GlobalException.java
  backend/src/main/java/com/spring/sad/global/exception/dto/GlobalExceptionResponse.java
  backend/src/main/java/com/spring/sad/global/exception/dto/ValidationExceptionResponse.java
  backend/src/main/java/com/spring/sad/member/annotation/birthdate/BirthdateValidator.java
  backend/src/main/java/com/spring/sad/member/annotation/birthdate/ValidBirthdate.java
  backend/src/main/java/com/spring/sad/member/annotation/cellPhone/CellPhoneValidator.java
  backend/src/main/java/com/spring/sad/member/annotation/cellPhone/ValidCellPhone.java
  backend/src/main/java/com/spring/sad/member/controller/MemberController.java
  backend/src/main/java/com/spring/sad/member/data/dto/request/MemberSignupByCellPhoneRequest.java
  backend/src/main/java/com/spring/sad/member/data/dto/request/MemberSignupByEmailRequest.java
  backend/src/main/java/com/spring/sad/member/data/dto/request/MemberSignupRequest.java
  backend/src/main/java/com/spring/sad/member/data/vo/Birthdate.java
  backend/src/main/java/com/spring/sad/member/domain/Member.java
  backend/src/main/java/com/spring/sad/member/domain/embbeded/CellPhone.java
  backend/src/main/java/com/spring/sad/member/domain/embbeded/Email.java
  backend/src/main/java/com/spring/sad/member/exception/MemberErrorCode.java
  backend/src/main/java/com/spring/sad/member/exception/MemberException.java
  backend/src/main/java/com/spring/sad/member/repository/MemberRepository.java
  backend/src/main/java/com/spring/sad/member/service/MemberService.java
Labels: ✨ feature, 🌱 back-end

#42 로그인 기능 구현
  backend/build.gradle
  backend/src/main/java/com/spring/sad/member/controller/MemberController.java
  backend/src/main/java/com/spring/sad/member/data/dto/request/MemberLoginByEmailRequest.java
  backend/src/main/java/com/spring/sad/member/data/dto/request/MemberLoginByPhoneNumberRequest.java
  backend/src/main/java/com/spring/sad/member/data/dto/response/MemberLoginResponse.java
  backend/src/main/java/com/spring/sad/member/exception/MemberErrorCode.java
  backend/src/main/java/com/spring/sad/member/repository/MemberRepository.java
  backend/src/main/java/com/spring/sad/member/service/MemberService.java
Labels: ✨ feature, 🌱 back-end

#38 recoil, recoil-persist로 로그인 상태 관리 & useLogin refactoring
  frontend/src/@types/routerItem.ts
  frontend/src/App.tsx
  frontend/src/hooks/useLogin.ts
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/routes/PageWithLogin.tsx
  frontend/src/routes/PageWithoutLogin.tsx
  frontend/src/routes/Router.tsx
  frontend/src/store/status.ts
Labels: ✨ feature, 🖼︎ front-end

#46 프로필 관련 기능 구현
  backend/build.gradle
  backend/src/main/java/com/spring/sad/member/controller/MemberController.java
  backend/src/main/java/com/spring/sad/member/data/dto/response/MemberLoginResponse.java
  backend/src/main/java/com/spring/sad/member/data/dto/response/MemberProfileDetails.java
  backend/src/main/java/com/spring/sad/member/data/dto/response/ProfileBandDetails.java
  backend/src/main/java/com/spring/sad/member/data/dto/response/ProfileSettingResponse.java
  backend/src/main/java/com/spring/sad/member/domain/Profile.java
  backend/src/main/java/com/spring/sad/member/exception/MemberErrorCode.java
  backend/src/main/java/com/spring/sad/member/service/MemberService.java
Labels: ✨ feature, 🌱 back-end

#54 feat : 로그인 유무 라우팅 분리, 랜딩페이지, 로그인 유형 선택 페이지, 회원가입 유형 선택 페이지 퍼블리싱
  frontend/src/components/Common/LongButton/LinkButton.styled.ts
  frontend/src/components/Common/LongButton/LinkButton.tsx
  frontend/src/constants/path.ts
  frontend/src/pages/LandingPage/LandingPage.styled.ts
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/LoginTypePage/LoginTypePage.styled.ts
  frontend/src/pages/LoginTypePage/LoginTypePage.tsx
  frontend/src/pages/SignUpTypePage/SignUpTypePage.styled.tsx
  frontend/src/pages/SignUpTypePage/SignUpTypePage.tsx
  frontend/src/routes/PageWithLogin.tsx
  frontend/src/routes/PageWithoutLogin.tsx
  frontend/src/routes/Router.tsx
Labels: ✨ feature, 🖼︎ front-end
